@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/source-code-pro.min.css");
html {
  height: 100%;
  margin: 0 auto;
}
body {
  height: 100%;
  background-color: #303841;
  color: #eee;
  font-family: Arial, sans-serif;
  border: 0px;
  margin: 0 auto;
}

main {
  background-color:#303841;
  margin-left: 50px;
  padding: 2%;
  box-sizing:border-box;
}

header {
  border-bottom: 1px solid #D72323;
}
.main-header {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 100;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 5px;
}

.bio-portrait-text {
  display: flex;
}
#bio-text {
  background-color: #3A4750;
  padding: 2%;
  padding-left: 1%;
  margin: 2%;
  font-size: 24px;
  border-left: 1px solid #D72323;
  font-weight: normal;
}
#portrait {
  padding: 2%;
  width: 400px;
  height: auto;
  border-radius: 50%;
}

#updates {
  display: flex;
  flex-direction: column;
}

.updates-bio {
  transition-duration: 300ms;
  background-color: #3A4750;
  margin: 1%;
  padding: 2%;
  border-left: 1px solid #D72323;
}

.updates-bio:hover {
  background-color:#D72323;
  border-left: 1px solid #eee;
  /* transition: ease-in-out 200ms; */
  box-shadow: #222 5px 5px 10px;
  font-size: 20px;
}

.blinker {
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/* Style the sidebar - fixed full height */
.sidebar {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3A4750;
    overflow-x: hidden;
    padding-top: 16px;
    padding-right: 10px;
}
.logo {
      width: 30px;
      height: auto;
}
  
/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #eee;
  display: block;
  flex: 1 1 0px;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #D72323;
}

.bio-boxes {
  display:flex;
  margin:5px;
  margin-bottom: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.bio-box {
  transition-duration: 300ms;
  background-color:#3A4750;
  border-left: 1px solid #D72323;
  padding: 10px;
  margin: 5px;
  flex: 1 1 0px
}

.bio-box h2 {
  font-size: 18px;
  text-align: center;
}
.bio-box p {
  font-size: 14px;
  text-align: center;
}

.bio-box:hover {
  background-color:#D72323;
  border-left: 1px solid #eee;
  box-shadow: #222 5px 5px 10px;
}

.bio-box:hover p {
  font-size: 18px;
}

.sentence-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-55%, -50%);
}

.sentence {
  font-size: 60px;  
}

.fadeIn{
	display: inline;
	text-indent: 16px;
}
.fadeIn span{
	animation: fadeEffect 12.5s linear infinite 0s;
	color: #D72323;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.fadeIn span:nth-child(2){
	animation-delay: 2.5s;
}
.fadeIn span:nth-child(3){
	animation-delay: 5s;
}
.fadeIn span:nth-child(4){
	animation-delay: 7.5s;
}
.fadeIn span:nth-child(5){
	animation-delay: 10s;
}

/*FadeIn Animation*/
@keyframes fadeEffect{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(0px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

#image-header {
  margin: 0 auto;
  text-align: center;
}
.slider {
  border-radius: 10px;
  width: 1000px;
  height: 750px;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  overflow: hidden;
}
.image-container {
  border-radius: 10px;
  width: 3000px;
  background-color: pink;
  height: 750px;
  clear: both;
  position: relative;
  transition: left 2s;
}
.slide {
  border-radius: 10px;
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 1000px;
  height: 750px;
}
#slide-1:target ~ .image-container {
  left: 0px;
}
#slide-2:target ~ .image-container {
  left: -1000px;
}
#slide-3:target ~ .image-container {
  left: -2000px;
}
.buttons {
  position: relative;
  top: -25px;
}
.buttons a {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid #eee;
  background-color: #3A4750;
  margin: 0 15px;
}

.buttons a:hover {
  background-color: #D72323;
}


/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media (max-width: 500px) {
  * {flex-direction: column;}
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  .bio-boxes {flex-direction:column;}
}